@model CreateRoleViewModel

@{

}

<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-4 card p-4">
			<h3 class="text-center text-info">Create Role</h3>
			<form asp-action="CreateRole" method="post">
				<div asp-validation-summary="ModelOnly"></div>
				<div class="form-group">
					<label asp-for="RoleName">Name</label>
					<input asp-for="RoleName" class="form-control">
					<span asp-validation-for="RoleName" class="text-danger"></span>
				</div>
				
				<div class="row mt-3">
					<div class="col-4">
						<button type="submit" class="btn btn-primary float-end">Create Role</button>
					</div>
				</div>

			</form>
		</div>
	</div>
</div>
