@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

<h2>All Roles</h2>

@if(Model.Any()){
	<a class="btn btn-primary mb-3" style="width:auto" asp-action="CreateRole" asp-controller="administration">
		Add New Roles
	</a>
	foreach(var role in Model)
	{
		<div class="card mb-3">
			Role Id : @role.Id
		</div>
		<div class="card-body">
			<h5 class="card-title">@role.Name</h5>
		</div>
		<div class="card-footer">
			<a asp-route-id="@role.Id" class="btn btn-primary" asp-action="EditRole" asp-controller="administration">Edit</a>
			<a href="#" class="btn btn-danger">Delete</a>
		</div>
	}
}
else{
	<div class="card">
		<div class="card-header">
			No Roles created
		</div>
		<div class="card-body">
			<h5 class="card-title">
				Create Role
			</h5>
			<a class="btn btn-primary" style="width:auto" asp-controller="administration" asp-action="CreateRole">
				Create Role
			</a>
		</div>
	</div>
}