@model IEnumerable<AppUser>

	<h2>All Users</h2>

@if (Model.Any())
{
	<a class="btn btn-primary mb-3" style="width:auto" asp-action="Register" asp-controller="Account">
		Add New User
	</a>
	foreach (var user in Model)
	{
		<div class="card mb-3">
			User Id : @user.Id
		</div>
		<div class="card-body">
			<h5 class="card-title">@user.UserName</h5>
		</div>
		<div class="card-footer">
			<a asp-route-id="@user.Id" class="btn btn-primary" asp-action="EditRole" asp-controller="administration">Edit</a>
			<a href="#" class="btn btn-danger">Delete</a>
		</div>
	}
}
else
{
	<div class="card">
		<div class="card-header">
			No Users Created Yet
		</div>
		<div class="card-body">
			<a class="btn btn-info" style="width:auto" asp-controller="Account" asp-action="Register">Add New User</a>
		</div>
	</div>
}